/* Tailwind Configurations */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic Configurations */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Circular", sans-serif;
  scroll-behavior: smooth;
  letter-spacing: 0.25px;
}

body {
  background-color: #f5f7f9;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f5f7f9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

/* Highlighted / On Selection Styles */
::-moz-selection {
  background: black;
  color: white;
}

::-webkit-selection {
  background: black;
  color: white;
}

::selection {
  background: black;
  color: white;
}
